* {

    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
/* Meu cabeçalho, sobre mim, resumo, hobbies, contato*/
header {

    display: flex;
    color: #54478c;
    justify-content: space-between;
    height: 80%;
    font-size: 30px;

}

/* Imagem de Plano de fundo */
body {
    background-image: url("./Imagens/fundo.jpg");

}
/* Mudança de cor do header */
h1:hover {
    transform: scale(1.0);
    color: #be95c4;
    margin-top: 15px;
    margin: left: 10px;


}
/* Mudança de cor do header */
a:hover {

    transform: scale(1.4);
    color: #e0b1cb;


}
/* Mudança de cor do header */
h2:hover {
    transform: scale(1.0);
    color: #e0b1cb;
}
/* Atributos do nav */
nav {

    display: flex;
    align-items: center;
    width: 33%;
    justify-content: space-around;

}
/* Atributos do resumo, hobbies e contato  */
a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    margin-left: auto;
    font-family: 'Cookie', cursive;


}


    nav {
        flex-direction: column;
        font-family: 'Cookie', cursive;
    }


/* Titulo */
h1 {
    margin: 20px 400px 15px 80px;
    font-family: 'Cookie', cursive;
    font-size: 50px;

}

/* Fotos utilizadas */
img {
    width: 200px;
    margin: 10px 50px 5px 50px;
    border-radius: 35px;


}
/* informações do contato */
fieldset {
    border: none;
    display: flex;
    margin: auto 50px 30px 500px;
    font-family: 'Cookie', cursive;
    font-size: 20px;


}
/* Rodapé */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: ;
    color: #54478c;
    text-align: center;
}
/* divisão */
.container {
    display: flex;
}

h2 {
    font-family: 'Cookie', cursive;
    color: #54478c
}
/* texto, resumo e hobbies */
p {
    font-family: 'Cookie', cursive;
    margin: 40px 70px 10px 70px;
    font-size: 25px;
    padding: 5px 20px 15px 10px;

}
/* formulário */
button {
    color: hotpink
}

ul {
    margin: 3px 20px 7px 4px
}

h2 {
    margin: 20px 460px 15px 60px;
    font-family: 'Cookie', cursive;
    font-size: 50px;
}